TI simulation
 &cntrl
   
! simulation
imin = 0,                 ! flag to run minization (0=false) 
nstlim = 1250000,         ! number of MD steps
irest = 1,                ! flag to restart simulation
ntx = 5,                  ! option to read from inpcrd file
ntxo = 1,                 ! read/write rst as formatted file
dt = 0.004,               ! timestep (4fs;hmr)
ntb = 2,              ! specify PBC type

! thermostate
ntt = 3,                  ! switch for time scaling (3=Langevin)
temp0 = 300,            ! reference temperature (if ntt>0) 
gamma_ln = 5.0,           ! collision frequency for ntt=3
ig = -1,                  ! seed for Random Number Generator (RNG) (use -1 with ntt=2,3)
! barostate
ntp = 1,                  ! constant pressure dynamics (1=do scaling) 
barostat = 2,             ! barostat to use (2=Monte Carlo)
mcbarint = 100,           ! volume change attempt every n steps
pres0 = 1.01325,          ! referenve pressure (in bars)
taup = 2.0,               ! pressure relation time (in ps)

! output
ioutfm = 1,               ! film fromat (1=binary NetCDF)
iwrap = 0,                ! wrap coordination into primary box (1=do)
ntwe = 10000,             ! write to .mden every n steps 
ntwx = 10000,             ! write to .mdcrd every n steps
ntpr = 1000,              ! write energies to .mdout/.mdinfo every n steps
ntwr = 10000,             ! write rstrt file every n steps

! alchemical free energy
cut = 9.0
ntc = 2,                  ! SHAKE bond length constraints (2=H-atom)
ntf = 1,                  ! force evaluation (1=evalute all)

icfe = 1,                 ! turn on free energy calculation 
ifsc = 1,                 ! use softcore parameters (0=undo)
gti_add_sc = 2,           ! (3=1-4 vdW & vdW interactions will be scaled with lambda in the softcore region internally)
clambda = %L1%,           ! current lambda
ifmbar = 1,               ! generate additional output (1=do)
bar_intervall = 1,
mbar_states = %L2%,       ! number of lamda windows considered
mbar_lambda = %L3%,       ! lambda windows simulated
timask1 = ':L16',           ! specify atoms unique to V_0
timask2 = ':L19',           ! specify atoms unique to V_1
 
scmask1 = ':L16@C7, H10, H21, H22, C21, H23, H24, H25', 
                      ! specify the unique atoms for V0
scmask2 = ':L19@C7, H10, C8, H11, N3, H16 ', 
                      ! specify the unique atoms for V1
 /
 &ewald
 / 

