Heating
 &cntrl
   
! simulation
imin = 0,                 ! flag to run minization (0=false) 
ntmin = 2,                ! mini algorithm. 2=steepest
nstlim = 50000,            ! number of MD steps
irest = 0,                ! flag to restart simulation
ntx = 1,                  ! option to read from inpcrd file
ntxo = 1,                 ! read/write rst as formatted file
dt = 0.001,               ! timestep (1fs)
ntb = 2,              ! specify PBC type

! thermostate
ntt = 3,                  ! switch for time scaling (3=Langevin)
tempi = 1.0,
temp0 = 300,            ! reference temperature (if ntt>0) 
gamma_ln = 5.0,           ! collision frequency for ntt=3
ig = -1,                  ! seed for Random Number Generator (RNG) (use -1 with ntt=2,3)
! barostate
ntp = 1,                  ! constant pressure dynamics (1=do scaling) 
barostat = 2,             ! barostat to use (2=Monte Carlo)
mcbarint = 100,           ! volume change attempt every n steps
pres0 = 1.01325,          ! referenve pressure (in bars)
taup = 2.0,               ! pressure relation time (in ps)

! output
ioutfm = 1,               ! film fromat (1=binary NetCDF)
iwrap = 0,                ! wrap coordination into primary box (1=do)
ntwe = 1000,              ! write to .mden every n steps 
ntwx = 1000,              ! write to .mdcrd every n steps
ntpr = 500,               ! write energies to .mdout/.mdinfo every n steps
ntwr = 1000,              ! write rstrt file every n steps

! alchemical free energy
cut = 9.0
ntc = 2,                  ! SHAKE bond length constraints (2=H-atom)
ntf = 1,                  ! force evaluation (1=evalute all)
noshakemask = ':1h, 1a',     ! remove SHAKE from perturbed regions 

icfe = 1,                 ! turn on free energy calculation 
ifsc = 1,                 ! use softcore parameters (0=undo)
clambda = %L1%,           ! current lambda
timask1 = ':1h',           ! specify atoms unique to V_0
timask2 = ':1a',           ! specify atoms unique to V_1
 
 
scmask1 = ':1h@C11, H14, H15, C12, H16, H17, C13, H18, H19, C14, H20, H21, C15, H22, H23, C30, H37, H38, C31, H39, H40', 
                      ! specify the unique atoms for V0
scmask2 = ':1a@C11, H14, H15, C12, H16, H17, C13, H18, H19, C14, H20, H21, C15, H22, H23', 
                      ! specify the unique atoms for V1
 /
 &ewald
 /

&wt type='TEMP0', istep1=1, istep2=5000, value1=1.0, value2=300 &end
&wt type='END' &end
